html {
    min-height: 100%;
}

body {
    background: radial-gradient(ellipse at bottom left,
    rgba(111, 0, 255, 0.4) 10%,
    rgba(88, 6, 165, 0) 40%),
    linear-gradient(to bottom, rgba(0, 183, 255, 0.25),
    rgba(77, 0, 201, 0.4)),
    linear-gradient(135deg, #7f00c9, #a30072);
}

div.container {
    display: flex;
    justify-content: left;
    margin-top: 10%;
    margin-left: 10%;
}

.view {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: -20px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view .mask {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

/*2 изображение*/
div.container1 {
    display: flex;
    justify-content: center;
    margin-top: -12%;
}

.view1 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: -17px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view1 .mask1 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view1 img {
    display: block;
    position: relative;
}
.view1 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view1 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view1 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view1 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first1 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first1 .mask1 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first1 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first1 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first1 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first1:hover img {
    transform: scale(1.1);
}

.view-first1:hover .mask1 {
    opacity: 1;
}

.view-first1:hover h2,
.view-first1:hover p,
.view-first1:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first1:hover p {
    transition-delay: 0.1s;
}

.view-first1:hover a.info {
    transition-delay: 0.2s;
}

/*3 изображение*/
div.container2 {
    display: flex;
    justify-content: right;
    margin-top: -12%;
    margin-right: 10%;
}

.view2 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: -12px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view2 .mask2 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view2 img {
    display: block;
    position: relative;
}
.view2 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view2 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view2 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view2 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first2 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first2 .mask2 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first2 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first2 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first2 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first2:hover img {
    transform: scale(1.1);
}

.view-first2:hover .mask2 {
    opacity: 1;
}

.view-first2:hover h2,
.view-first2:hover p,
.view-first2:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first2:hover p {
    transition-delay: 0.1s;
}

.view-first2:hover a.info {
    transition-delay: 0.2s;
}

/*4 изображение*/
div.container3 {
    display: flex;
    justify-content: left;
    margin-top: 5%;
    margin-left: 10%;
}

.view3 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: -2px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view3 .mask3 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view3 img {
    display: block;
    position: relative;
}
.view3 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view3 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view3 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view3 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first3 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first3 .mask3 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first3 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first3 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first3 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first3:hover img {
    transform: scale(1.1);
}

.view-first3:hover .mask3 {
    opacity: 1;
}

.view-first3:hover h2,
.view-first3:hover p,
.view-first3:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first3:hover p {
    transition-delay: 0.1s;
}

.view-first3:hover a.info {
    transition-delay: 0.2s;
}

/*5 изображение*/
div.container4 {
    display: flex;
    justify-content: center;
    margin-top: -12%;
}

.view4 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: 1px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view4 .mask4 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view4 img {
    display: block;
    position: relative;
}
.view4 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view4 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view4 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view4 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first4 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first4 .mask4 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first4 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first4 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first4 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first4:hover img {
    transform: scale(1.1);
}

.view-first4:hover .mask4 {
    opacity: 1;
}

.view-first4:hover h2,
.view-first4:hover p,
.view-first4:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first4:hover p {
    transition-delay: 0.1s;
}

.view-first4:hover a.info {
    transition-delay: 0.2s;
}

/*6 изображение*/
div.container5 {
    display: flex;
    justify-content: right;
    margin-top: -12%;
    margin-right: 10%;
}

.view5 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: 6px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view5 .mask5 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view5 img {
    display: block;
    position: relative;
}
.view5 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view5 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view5 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view5 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first5 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first5 .mask5 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first5 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first5 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first5 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first5:hover img {
    transform: scale(1.1);
}

.view-first5:hover .mask5 {
    opacity: 1;
}

.view-first5:hover h2,
.view-first5:hover p,
.view-first5:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first5:hover p {
    transition-delay: 0.1s;
}

.view-first5:hover a.info {
    transition-delay: 0.2s;
}

/*7 изображение*/
div.container6 {
    display: flex;
    justify-content: center;
    margin-top: -12%;
}

.view6 {
    float: left;
    border: 10px solid white;
    overflow: hidden;
    position: relative;
    top: 300px;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view6 .mask6 {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view6 img {
    display: block;
    position: relative;
}
.view6 h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 40px 0 0 0;
}

.view6 p{
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0 20px 0;
    text-align: center;
}

.view6 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    background: black;
    color: white;
    font-family: Raleway, serif;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 1px black;
}

.view6 a.info:hover{
    box-shadow: 0 0 5px black;
}

.view-first6 img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

.view-first6 .mask6 {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}
.view-first6 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

.view-first6 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first6 a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first6:hover img {
    transform: scale(1.1);
}

.view-first6:hover .mask6 {
    opacity: 1;
}

.view-first6:hover h2,
.view-first6:hover p,
.view-first6:hover a.info {
    opacity: 1;
    transform: translateY(0);
}

.view-first6:hover p {
    transition-delay: 0.1s;
}

.view-first6:hover a.info {
    transition-delay: 0.2s;
}

@media screen and (max-width: 1600px) {
    .view1 {
        top: -55px;
    }
    .view2 {
        top: -90px;
    }
    .view4 {
        top: -37px;
    }
    .view5 {
        top: -72px;
    }
    .view6 {
        top: 200px
    }
}

@media screen and (max-width: 1440px) {
    .view {
        top: -1px;
    }
    .view2 {
        top: -108px;
    }
    .view4 {
        top: -57px;
    }
    .view5 {
        top: -110px;
    }
    .view6 {
        top: 200px
    }
}

@media screen and (max-width: 1366px) {
    .view {
        top: 8px;
    }
    .view2 {
        top: -118px;
    }
    .view3 {
        top: -57px;
    }
    .view4 {
        top: -120px;
    }
    .view5 {
        top: -183px
    }
    .view6 {
        top: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .view {
        top: 18px;
    }
    .view2 {
        top: -128px;
    }
    .view4 {
        top: -133px;
    }
    .view5 {
        top: -207px
    }
    .view6 {
        top: 30px;
    }
    
    .view-first img {
        width: 200px;
        height: 170px;
    }
    .view-first1 img {
        width: 200px;
        height: 170px;
    }
    .view-first2 img {
        width: 200px;
        height: 170px;
    }
    .view-first3 img {
        width: 200px;
        height: 170px;
    }
    .view-first4 img {
        width: 200px;
        height: 170px;
    }
    .view-first5 img {
        width: 200px;
        height: 170px;
    }
    .view-first6 img {
        width: 200px;
        height: 170px;
    }
    
    .view h2 {
        margin: 30px 100px 0 0;
    }
    .view1 h2 {
        margin: 35px 100px 0 0;
    }
    .view2 h2 {
        margin: 30px 100px 0 0;
    }
    .view3 h2 {
        margin: 7px 100px 0 0;
    }
    .view4 h2 {
        margin: 20px 100px 0 0;
    }
    .view5 h2 {
        margin: 20px 100px 0 0;
    }
    .view6 h2 {
        margin: 20px 100px 0 0;
    }
    
    .view p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view1 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view2 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view3 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view4 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view5 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    .view6 p{
        font-size: 14px;
        padding: 0px 50px 0;
        left: -50px;
    }
    
    .view a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view-first1 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view2 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view3 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view4 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view5 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
    .view6 a.info {
        padding: 7px 10px;
        margin-right: 33%;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}